/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* checkbox */
.layui-form-checked[lay-skin=primary]>i{
    border-color: #1e9fff !important;
    background-color: #1e9fff !important;
    color: #fff;
}
.layui-form-checkbox[lay-skin=primary]:hover>i{
    border-color: #1e9fff !important;
    color: #fff;
}

  /* 使用 CSS 变量定义主题颜色 */
  :root {
    --main-color: #F5F7F8; /* 默认主色 */
    --accent-color: #16baaa; /* 默认辅助色 */
    --text-color: rgba(255,255,255,.7); /* 默认字体色 */
    --strong-text-color: #fff; /* 强调字体色 */
    --sidebar-color: #20222A; /* 默认侧边栏色 */
    --main-gradient: linear-gradient(to right,#20222A,#e74d3c1c,#e74d3c3d,#e74d3c90, #e74c3c, #f1c40f, #3498db,#3498db86,#3498db3c,#3498db19,#20222A); /* 主体渐变色 */
}